.section-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  p {
    font-family: "Quicksand-bold", "Quicksand";
    font-size: 40px;
    font-weight: 700;
    color: rgb(82, 82, 82);
  }
}
