.l-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1rem;
}

.m-container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 1rem;
}

.s-container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 1rem;
}

.text-techllama {
  color: #5dcccd;
}

.text-red {
  color: #ff4e4e;
}
