* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand", Courier, monospace;
}

header {
  background-color: #fff;
  box-shadow: 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  p {
    font-family: "Quicksand-bold", "Quicksand";
    font-size: 40px;
    font-weight: 700;
    color: rgb(82, 82, 82);
  }
}

@import "utilities";
@import "strap";
@import "header";
@import "home";
@import "button";
